@keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }

  .jump {
    animation: jump 0.2s;
  }

  .border-red-500 {
    border-color: red;
  }